streamlit
pandas
numpy
sentence-transformers
tldextract
scikit-learn
joblib
shap
matplotlib

# warnings
# sentence_transformers
# urllib




# ERROR: Ignored the following versions that require a different python version: 0.55.2 Requires-Python <3.5; 1.21.2 Requires-Python >=3.7,<3.11; 1.21.3 Requires-Python >=3.7,<3.11; 1.21.4 Requires-Python >=3.7,<3.11; 1.21.5 Requires-Python >=3.7,<3.11; 1.21.6 Requires-Python >=3.7,<3.11
# ERROR: Could not find a version that satisfies the requirement time (from versions: none)
# ERROR: No matching distribution found for time